<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel ='stylesheet' href="static/home_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>


</head>
<body>
  <nav>
    <div class="logo">Ticket</div>
    <ul>
        <li><a class='active' href="/">Home</a></li>
        <li><a href="userlogin">User Login</a></li>
        <li><a href="addlogin">Admin Login</a></li>
        <li><a href="searching">Searching Page</a></li>
    </ul>
  </nav>
  <section id="main">
    <h1 class="latest-heading">LATEST MOVIES</h1>
    <!--latest box-->
    <!-- <div class="latest-box" >
     <img src="picture/gn.png"/>
      <img src="picture/5.jpeg"/> 
     

    </div> -->
    <div class="latest-box">
        <div class="column">
          <img src="static/gn.png">
        </div>
        <div class="column">
          <img src="static/5.jpeg" >
        </div>
        <div class="column">
            <img src="static/i.png" >
          </div>
    
      </div>
  </section>
  <section id="recommend">
    <h2 class="recommend-heading">RECOMMENDED MOVIES</h2>
       <div class="recommend-box">
        <div class="column1">
          <img src="static/a.jpeg">
        </div>
        <div class="column1">
          <img src="static/c.jpg" >
        </div>
         <div class="column1">
            <img src="static/w.jpg" >
          </div>
        <div class="column1">
            <img src="static/p.jpg">
        </div>
        <div class="column1">
            <img src="static/q.jpg">
        </div> 
    </div>
  </section>
</body>
<footer style="background-color: bisque;">
    <hr><hr><hr>
 <h3 class="follow">Follow us</h3>
   <div class="button">
    <button style="background-color: red; font-weight: bold; color: whitesmoke;">Youtube</button>
    <button style="background-color: rgb(20, 40, 168); font-weight: bold; color: whitesmoke;">Facebook</button>
    <button style="background-color: green; font-weight: bold; color: whitesmoke;">Whatsapp</button>
</div>
</footer>
</html>