<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/searching_style.css"/>
    <title>Search page</title>
</head>
<body>
    <nav>
        <div class="logo">Ticket</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="userlogin">User Login</a></li>
            <li><a href="adminlogin">Admin Login</a></li>
            
        </ul>
      </nav>

      <div class="flex-container">
        <div class ='flex-box'><a href="/venuesearch"> Search Venue Name </a></div>
        <div class ='flex-box'><a href="/venueplace"> Search Venue Place </a></div>
        <div class ='flex-box'><a href ="/showsearch"> Search Show name </a></div>
        <div class ='flex-box'><a href="/showrating"> Search Show Rating</a></div> 
        <div class ='flex-box'> <a href="/showtag"> Search Show Tag </a></div>  
      </div>
    
</body>
</html>