<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/searchdash.css"/>
    <title>Show search</title>
</head>
<body>
    <nav>
        <div class="logo">Ticket</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/searching">Searching Page</a></li>
            
        </ul>
      </nav>
      <br><br><br><br><br>
      <form method="post" action="/show_search">
        <br>
        <input style="font-size: large;" type="search" placeholder="search show name" name='show_name' type="text" required/>
        <input style="font-size: large; background-color: blue; color: white;" type="submit" value="search"> 
    </form>
</body>
</html>